* {margin:0;padding:0;box-sizing:border-box;}

body  {		
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px; 
	color: #222222;
	line-height: 1.4em;
}

header	{
	background: #ccff99;
	padding: 2em;
}

section {
	padding:5em 0;
}

h1	{
	color: #006bb3;
	height: 3em;
}

a   {
	color: inherit;
	text-decoration: none;
}

nav a  {
	color: rgba(0,0,0,.5);
	font-style: italic;
	margin-right: 1.5em;
}
ol {
	padding-left:1.25em;
}
h2  {
	color: #000;
	padding-right: 2em;
}

#couch {
	background-color: #ffcce0;
}

#steppingstones {
	background-color: #e699ff;
}

#finishline {
	background-color: #b3ccff;
}

#recordtime {
	background-color: #b3ffe6;
}

#technicaltopic {
	background-color: #ffff80;

}
#intro {
	background:url(../images/imgres.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	height:80vh;
	padding:10em 0 0 5em;
}
