@import url('https://fonts.googleapis.com/css?family=Kadwa');
@import url('https://fonts.googleapis.com/css?family=Suez+One');
@import url('https://fonts.googleapis.com/css?family=Jura');


* {margin:0;padding:0;box-sizing:border-box;}

body  {
	font-family: "Jura", Helvetica, sans-serif;
	font-size: 20px;
	color: #222222;
	line-height: 1.4em;
	text-align: center;
}

header	{
	background: #FFED74;
	border: 1px black solid;
	/* padding: 20px; */
	/*background: #ccff99;
	padding: 1em;*/
}

section {
	padding:3em 0;
	margin: auto;
}

h1	{
	color: #000;
	height: 3em;
	font-family: "Kadwa", serif;
	font-weight: normal;
	text-align: center;
}

nav {
	background: #e8c66a;
	border: 1px black solid;
	/* padding: 20px; */
	float: right;
}

a   {
	color: inherit;
	text-decoration: none;
}

nav a  {
	color: rgba(0,0,0,.5);
	font-style: italic;
	margin: auto;
	text-align: right;
	transition: 0.5s ease;
	display: inline-block;
	padding: .5em;
}

nav a:hover {
	background-color: #dd0000;
}

ol {
	padding-left:1.25em;
}

h2  {
	color: #000;
	/* padding-right: 2em; */
	font-family: "Suez One", "times new roman", serif;
	font-size: 2em;
}

p {
	font-family: "Jura", Helvetica, sans-serif;
	line-height: 1.4em;
	/* padding: 1em; */
	margin: auto;
}

hr{
	border:none;
	height:3px;
	background-color: #3C3C3C;
	width:2em;
	margin:1em auto;
}

ol {
	line-height: 1.4em;
	font-size:2em;
	display:inline-block;
	text-align:left;
}

img {
	float: left;
	width: 25%;
	/* padding-top: 4em; */
}

section {
	background: #FFe2b8;
	border: 1px black solid;
	padding: 20px;
}

section div {
}

footer {
	background: #ff957e;
	border: 1px black solid;
	padding: 20px;
}

#wrapper {
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
}

#couch {
	background-color: #ffcce0;
	border-bottom: 0.2em solid black;
	/* height: 100% */
}

#steppingstones {
	background-color: #e699ff;
	border-bottom: 0.2em solid black;
	/* clear: both; */
}

#finishline {
	background-color: #b3ccff;
	border-bottom: 0.2em solid black;
	/* clear: both; */
}

#recordtime {
	background-color: #b3ffe6;
	border-bottom: 0.2em solid black;
	/* clear: both; */
}

#technicaltopic {
	background-color: #ffff80;
	border-bottom: 0.2em solid black;
	/* clear: both; */
}

#intro {
	background:url(../images/imgres.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	height:80vh;
	padding:10em 0 0 5em;
}

#logo {
	font-size: 1em;
	text-align: left;
	font-weight: bolder;
	float: left;
}

.sellpoint {
	font-size: 1.5em;
	border-bottom:4em;
}


.inform {
	float: left;
	width: 75%;
	padding: 0 2em;
}

#footer {
	font-size: 0.5em;
	/* float: right; */
	/* clear: both; */
	text-align: right;
	color: #fff;
	background-color: #333333;
}
.clearfix:after, section:after {
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
	content:"";
}
