@import url('https://fonts.googleapis.com/css?family=Kadwa');
@import url('https://fonts.googleapis.com/css?family=Suez+One');
@import url('https://fonts.googleapis.com/css?family=Jura');


* {margin:0;padding:0;box-sizing:border-box;}

body  {		
	font-family: "Jura", Helvetica, sans-serif;
	font-size: 20px; 
	color: #222222;
	line-height: 1.4em;
	text-align: center;

}

header	{
	background: #ccff99;
	padding: 2em;

}

section {
	padding:5em 0;
}

h1	{
	color: #000;
	height: 3em;
	font-family: "Kadwa", serif;
	font-weight: normal;
	text-align: center;
}

a   {
	color: inherit;
	text-decoration: none;
}

nav a  {
	color: rgba(0,0,0,.5);
	font-style: italic;
	margin: 0.2em;
	text-align: right;

	padding-right: 0.2;
}
ol {
	padding-left:1.25em;
}
h2  {
	color: #000;
	padding-right: 2em;
	font-family: "Suez One", "times new roman", serif;
	font-size: 2em;
}

p {
	font-family: "Jura", Helvetica, sans-serif;
	line-height: 1.4em;
	max-width: 50ch;
	text-align: center;
}

hr{
	border:none;
	height:3px;
	background-color: #3C3C3C;
	width:2em;
	margin:1em auto;
}

ol {
	line-height: 1.4em
	font-size:2em;
}

#couch {
	background-color: #ffcce0;
	border-bottom: 2em;

}

#steppingstones {
	background-color: #e699ff;
}

#finishline {
	background-color: #b3ccff;
}

#recordtime {
	background-color: #b3ffe6;
}

#technicaltopic {
	background-color: #ffff80;

}
#intro {
	background:url(../images/imgres.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	height:80vh;
	padding:10em 0 0 5em;
}

#logo {
	font-size: 2em;
	text-align: left;
	font-weight: bolder;
}

.sellpoint {
	font-size: 1.5em
	border-bottom:4em;
	background-color: red;
}


